:root {
  --tab-inner-outline-color: rgba(12, 12, 13, 0.2);
  --tab-inner-border-color: #fff;
  --tab-inner-background-color: #fff;
  --tab-inactive-inner-opacity: 0.75;
  --newtab-inner-border-color: rgba(12, 12, 13, 1);
  --newtab-inner-icon: url(/icons/plus_dark.svg);
  --newtab-inner-opacity: 0.2;
  --tab-favicon-border-color: #fff;
  --tab-favicon-background-color: #fff;
  --tab-name-color: inherit;
}

.theme-dark {
  --tab-inner-outline-color: #58585b;
  --tab-inner-border-color: #38383d;
  --tab-inner-background-color: #38383d;
  --tab-inactive-inner-opacity: 0.6;
  --newtab-inner-border-color: rgba(249, 249, 250, 1);
  --newtab-inner-icon: url(/icons/plus_light.svg);
  --newtab-inner-opacity: 0.25;
  --tab-favicon-border-color: #38383d;
  --tab-favicon-background-color: #38383d;
  --tab-name-color: #d7d7db;
}

.tab,
.newtab {
  position: absolute;
  cursor: pointer;
}

.tab:hover .inner {
  outline-color: #ff9400 !important;
}

.tab.selected .inner {
  outline: #45a1ff 2px solid !important;
}

.tab .inner,
.newtab .inner {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
}

.tab.inactive .inner {
  opacity: var(--tab-inactive-inner-opacity);
}

.tab .inner {
  outline: 1px solid var(--tab-inner-outline-color);
  border: 3px solid var(--tab-inner-border-color);
  background-color: var(--tab-inner-background-color);
  transition: opacity 500ms cubic-bezier(0.08, 0.82, 0.17, 1),
    transform 500ms cubic-bezier(0.08, 0.82, 0.17, 1);
}

.newtab .inner {
  border: 2px dashed var(--newtab-inner-border-color);
  background: transparent var(--newtab-inner-icon) center / 16px no-repeat;
  opacity: var(--newtab-inner-opacity);
}

.tab.drag .inner {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  transform: scale(0.9);
}

.tab .thumbnail {
  background-color: #f9f9fa;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  left: 0;
}

.tab .favicon {
  display: none;
  border-right: 3px solid var(--tab-favicon-border-color);
  border-bottom: 3px solid var(--tab-favicon-border-color);
  border-radius: 0 0 2px 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--tab-favicon-background-color);
  background-size: contain;
}

.tab .favicon.visible {
  display: block;
}

.tab .close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/icons/tab_close.svg);
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.tab .name {
  height: 20px;
  position: absolute;
  right: 2px;
  bottom: 0;
  left: 2px;
  color: var(--tab-name-color);
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.tab.small .thumbnail {
  bottom: 0px;
}

.tab.small .favicon {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.tab.small .name {
  display: none;
}

.tab.small .close {
  display: none;
}
